body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F2F2F2;
}
h1 {
    text-align: center;
    color: #4A4A4A;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-submit {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-submit:hover {
    background-color: #0056b3;
}
.animal-card {
    background-color: #FFF;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.animal-card img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}
.animal-card h2 {
    margin: 10px 0 5px;
    font-size: 24px;
}
.animal-card p {
    margin: 5px 0;
}